.header {
    align-items: center;
}
.header__menus ul {
    list-style: none;
    display: flex;
}
.header__menus ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__menus ul li a:hover {
    opacity: 0.8;
}
.header__menus ul li > div {
    width: 100%;
}
.header__menus ul li a {
    padding: 1rem 1.2rem;
    color: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
}
.header__menus ul li .connect__wallet-btn {
    height: 42px;
    border-radius: 25px;
    width: 140px;
    color: #fff;
    cursor: pointer;
}
.header__menus ul li .userinfo a {
    color: #a5ccb8;
    cursor: auto;
}
.header__menus .logout__button {
    font-weight: bold;
    color: #ffc83d;
    cursor: auto;
    font-size: 32px;
    cursor: pointer;
}
.header__menus .menu__icon {
    display: none !important;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}
.header__menus .mobile__menus {
    display: none;
}
@media screen and (max-width: 768px) {
    .header__menus .desktop__menus {
        display: none;
    }
    .header__menus .mobile__menus {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 2rem;
        top: 4rem;
        background: #54266e;
        padding: 1.2rem;
    }
    .header__menus .menu__icon {
        display: block !important;
    }
    .header__menus ul li a {
        padding: 0.5rem 1rem;
    }
    .header__menus ul li.connect__wallet-button {
        margin-top: 20px;
    }
}
